.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homie,.gamie {
  height: 100vh;
}

.gamie {
  display: grid;
  grid-template-columns: 10;
  grid-template-rows: 10;
}

.card {
  margin: 30px;
  max-height: 30%;
  max-width: 30%;
  justify-self: center;
}

#quit {
  position: fixed;
}
#red, #blue {
  max-height: 50%;
}

#bplay, #rplay {
  max-height: 70%;
}

#red {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

#blue {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#bPlay {
  grid-row: 3;
  justify-self: flex-start
}

#rPlay {
  grid-row: 2;
  justify-self: flex-start
}

#redcount {
  justify-self: flex-start;
  grid-row: 2;
}

#bluecount {
  justify-self: flex-start;
  grid-row: 3;
}